/*.section {
	position: relative;
}*/
.section {
  vertical-align: center; }

.fp-tableCell {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center; }

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, #0a0a23 0%, #320a28 100%); }

.ml11 {
  position: relative;
  mix-blend-mode: difference; }

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em; }

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%; }

.ml11 .line1 {
  top: 0;
  left: 0; }

.ml11 .letter {
  display: inline-block;
  line-height: 1em; }

#section1 h1, #section1 h2 {
  color: white; }

#name {
  mix-blend-mode: difference; }

#subtitle {
  mix-blend-mode: difference; }

/* Wrapper */
#socials {
  font-size: 2.5em;
  padding-top: 45px; }

.icon-button {
  background-color: transparent;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem; }

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0; }

.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem; }

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10; }

.twitter span {
  background-color: #4099ff; }

.github span {
  background-color: #24292e; }

.linkedin span {
  background-color: #0e76a8; }

.email span {
  background-color: #D44638; }

.icon-button .fa-twitter {
  color: #fff; }

.icon-button .fa-github {
  color: #fff; }

.icon-button .fa-linkedin-in {
  color: #fff; }

.icon-button .fa-envelope {
  color: #fff; }

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-github,
.icon-button:hover .fa-linkedin-in,
.icon-button:hover .fa-envelope {
  color: white; }

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem; }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem; }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem; }

  body {
    padding: 10px; } }
#section2 {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

#about {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#about h2 {
  color: #A58861;
  letter-spacing: 0.1em;
  font-size: 1.4em; }

#about h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 2.5em;
  left: 0;
  background-color: #A58861; }

#location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

#location-image {
  position: relative;
  transform: translate(-50%, 0);
  display: inline-block;
  left: 50%; }

#location-image img {
  height: 500px;
  width: 400px; }

.wrap {
  margin: auto;
  width: 50%;
  position: relative;
  float: left; }

#circle {
  width: 20px;
  height: 20px;
  background: #A58861;
  border-radius: 10px;
  top: 64%;
  left: 57%;
  position: absolute;
  transform: translate(-50%, -50%); }

#circle-ring {
  width: 50px;
  height: 50px;
  border: 2px solid #A58861;
  border-radius: 100%;
  top: calc(63.5% - 25px);
  left: calc(56.5% - 25px);
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0; }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0.0; } }
#section3 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.skills {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.skill-column {
  text-align: center;
  width: 20%; }

.inner-column {
  float: left;
  width: 50%; }

.skill {
  height: 80px;
  text-align: center;
  margin-bottom: 10px; }

.skills h2 {
  font-size: 1.5em !important; }

.skill h3 {
  font-size: 0.8em;
  padding: 0;
  margin: 0; }

.skill img {
  width: 40px;
  height: 40px; }

#languages img {
  width: 50px;
  height: 50px; }

#languages h2 {
  font-size: 1.7em; }

#languages h3 {
  font-size: 1em; }

@media screen and (max-width: 1200px) {
  #location {
    flex-direction: column-reverse; }

  .wrap {
    width: 90%; }

  .skills {
    width: 100vw; }

  .skill-column {
    width: 95%;
    height: 17vh;
    margin-bottom: 5vh; }
    .skill-column h2 {
      margin: 0;
      margin-bottom: 1vh;
      height: 20%;
      font-size: 3em !important; }

  .skill-column:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -1.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 55%;
    background: #000; }

  #programs:after {
    display: none; }

  .inner-column {
    width: 100%;
    height: 35%; }

  .skill {
    width: 25%;
    float: left; }

  .skill img {
    width: 60px;
    height: 60px; }

  #languages img {
    width: 60px;
    height: 60px; }

  h3 {
    font-size: 2em !important; } }

/*# sourceMappingURL=home.css.map */
